<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <title>个人主页</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="_fragments :: menu(50)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu"><!--stackable可堆叠-->
        <h2 class="ui teal header item">Blog</h2>
        <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
        <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
        <div class="right m-item item m-mobile-hide">
          <div class="ui icon inverted transparent input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>

    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>

  </nav>


  <!--中间内容-->
  <div class="m-container m-padded-tb-big">
    <div class="ui container">
      <div class="ui stackable grid">
        <!--左边-->
        <div class="twelve wide column">
          <div class="ui top segment m-padded-tb-large">
            <div class="ui grid">
              <div class="eleven wide column">
                <div class="ui very middle aligned relaxed list">
                  <div class="item">
                    <img class="ui small avatar image" style="width: 90px; height: 90px;" th:src="@{${user.avatar}}" src="../static/images/xiaohuihui.jpg">
                    <div class="content">
                      <div class="ui horizontal link list">
                        <div class="item">
                          <a href="./about.html"><h1 class="ui header" th:text="${user.nickname}">Zane</h1></a>
                        </div>
                        <div class="item">
                          <img style="width: 32px;height: 22px;" th:src="@{${userInfoDataVO.img}}" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDIzIDE0Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0iIzZFQ0VGRiIgZD0iTTMgMWgxN2EyIDIgMCAwIDEgMiAydjhhMiAyIDAgMCAxLTIgMkgzYTIgMiAwIDAgMS0yLTJWM2EyIDIgMCAwIDEgMi0yeiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0zIDRoMnY3SDN6TTggNmgybDIgNWgtMnoiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMTQgNmgtMmwtMiA1aDJ6TTMgOWg1djJIM3pNMTUgM2g1djJoLTV6TTE4IDVoMnYyaC0yek0xNSA5VjdoMnYyeiIvPgogICAgICAgIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0xNSA4VjZoNXYyek0xNSA5aDV2MmgtNXoiLz4KICAgIDwvZz4KPC9zdmc+Cg==" alt="">
                        </div>
                      </div>
                      <h4><i class="shopping bag icon"></i>华为|开发</h4>
                      <h4><i class="address card icon"></i>爱生活</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="middle aligned five wide column m-padded-lr">
                <div class="ui huge horizontal link list ">
                  <div class="item">
                    <a href="#" class="ui icon circular">
                      <div class="text">
                        <i class="inverted grey weixin icon"></i>
                      </div>
                    </a>
                    <a href="#" class="ui icon circular">
                      <div class="text">
                        <i class="inverted grey github icon"></i>
                      </div>
                    </a>
                    <a href="#" class="ui icon circular">
                      <div class="text">
                        <i class="inverted grey weibo icon"></i>
                      </div>
                    </a>
                    <a href="#" class="ui icon circular">
                      <div class="text">
                        <i class="inverted grey qq icon"></i>
                      </div>
                    </a>
                  </div>
                </div>
                <div th:if="${user.id == session.user.id}">
                  <a href="./settings.html" th:href="@{/user/settings}">
                    <div class="ui teal basic button">编辑个人资料</div>
                  </a>
                </div>
                <div th:if="${user.id != session.user.id}">
                  <a href="#" id="follow">
                    <div th:fragment="follow">
                      <div th:text="${state == 0 ? '关注' : '已关注'}" class="ui teal basic button" style="width: 126px;height: 35.6px;">关注</div>
                    </div>
                  </a>
                </div>

              </div>
            </div>
          </div>
          <!--文章-->
          <div class="ui attached segment">
            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${blogList}">
              <div class="ui middle aligned mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">您真的理解什么是财富嘛？</a></h3>
                  <p class="m-text" th:text="|${blog.description}......|">赵立坚表示，英国通信管理局一意孤行、蛮横吊销CGTN英语新闻频道在英落地许可证的错误行径，中方已经多次表明了坚决反对的立场。</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1025/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">李文博</a></div>
                        </div>
                        <div class="item">
                          <div class="text">
                            <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2021-03-09</span>
                          </div>
                        </div>
                        <div class="item">
                          <div class="text">
                            <i class="eye icon"></i><span th:text="${blog.views}">1232</span>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                    </div>
                  </div>
                </div>
                <div class="five wide column">
                  <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                    <img src="https://picsum.photos/id/10/800/400" style="height: 116.969px; width: 233.953px;"  th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
            <!--/*-->
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">您真的理解什么是财富嘛？</h3>
                  <p class="m-text">赵立坚表示，英国通信管理局一意孤行、蛮横吊销CGTN英语新闻频道在英落地许可证的错误行径，中方已经多次表明了坚决反对的立场。</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1025/100/100" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">李文博</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2021-03-09
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 1233
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>
                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="https://picsum.photos/id/10/800/400" alt="" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">您真的理解什么是财富嘛？</h3>
                  <p class="m-text">赵立坚表示，英国通信管理局一意孤行、蛮横吊销CGTN英语新闻频道在英落地许可证的错误行径，中方已经多次表明了坚决反对的立场。</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1025/100/100" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">李文博</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2021-03-09
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 1233
                        </div>
                      </div>

                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>


                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="https://picsum.photos/id/10/800/400" alt="" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">您真的理解什么是财富嘛？</h3>
                  <p class="m-text">赵立坚表示，英国通信管理局一意孤行、蛮横吊销CGTN英语新闻频道在英落地许可证的错误行径，中方已经多次表明了坚决反对的立场。</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1025/100/100" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">李文博</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2021-03-09
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 1233
                        </div>
                      </div>

                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>


                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="https://picsum.photos/id/10/800/400" alt="" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">您真的理解什么是财富嘛？</h3>
                  <p class="m-text">赵立坚表示，英国通信管理局一意孤行、蛮横吊销CGTN英语新闻频道在英落地许可证的错误行径，中方已经多次表明了坚决反对的立场。</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1025/100/100" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">李文博</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2021-03-09
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 1233
                        </div>
                      </div>

                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>


                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="https://picsum.photos/id/10/800/400" alt="" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">您真的理解什么是财富嘛？</h3>
                  <p class="m-text">赵立坚表示，英国通信管理局一意孤行、蛮横吊销CGTN英语新闻频道在英落地许可证的错误行径，中方已经多次表明了坚决反对的立场。</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="https://picsum.photos/id/1025/100/100" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">李文博</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2021-03-09
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 1233
                        </div>
                      </div>

                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>


                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="https://picsum.photos/id/10/800/400" alt="" class="ui rounded image">
                  </a>
                </div>
              </div>
            </div>
            <!--*/-->
          </div>
        </div>

        <!--右边-->
        <div class="four wide column">
          <div class="ui top attached segment">
            <div class="ui header">个人成就</div>
          </div>
          <div class="ui attached segment">
            <div class="ui link list">
              <i class="large thumbs up teal icon"></i>
              <span>获得点赞</span>
              <span th:text="${userInfoDataVO.thumbs}">68</span>
            </div>
            <div class="ui link list">
              <i class="large eye teal icon"></i>
              <span>文章被阅读</span>
              <span th:text="${userInfoDataVO.views}">1,5168</span>
            </div>
            <div class="ui link list">
              <i class="large database teal icon"></i>
              <span>积分值</span>
              <span th:text="${userInfoDataVO.integral}">2568</span>
            </div>
          </div>
          <div class="ui center aligned segment">
            <div class="ui divided stackable grid m-padded-tb-small">
              <div class="eight wide column">
                <div class="text ui header">关注了</div>
                <span class="text ui header" th:text="${userInfoDataVO.follow}">32</span>
              </div>
              <div class="eight wide column">
                <div class="text ui header">关注者</div>
                <span class="text ui header" th:text="${userInfoDataVO.follower}">10</span>
              </div>
            </div>
          </div>
          <div class="ui huge middle aligned divided list m-padded-tb">
            <div class="item">
              <div class="right floated content">
                <div>2</div>
              </div>
              <div class="content">
                <span class="">收藏夹</span>
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <span>3</span>
              </div>
              <div class="content">
                <span class="">关注标签</span>
              </div>
            </div>
            <div class="item">
              <div class="right floated content">
                <span class="" th:text="${#dates.format(user.createTime,'yyyy-MM-dd')}">2020-10-23</span>
              </div>
              <div class="content">
                <span class="">加入于</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!--底部-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" class="ui round image" alt="" style="width: 110px;">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">用户故事（user story）</a>
            <a href="#" class="item">用户故事（user story）</a>
            <a href="#" class="item">用户故事（user story）</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我们</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email：zane@163.com</a>
            <a href="#" class="item">QQ：6548311</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
          <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的内日哦那个，希望可以给来这儿的人有所帮助。。。</p>
        </div>
      </div>
      <!--线-->
      <div class="ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright@ 2021-2023 zhong</p>
    </div>

  </footer>

  <!--js-->
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script th:inline="javascript">
    //关注/取消关注
    $('#follow').click(function () {
      console.log(222)
      $('#follow').load(/*[[@{/user/follow/{fid}(fid=${user.id})}]]*/);
    });

  </script>


</body>
</html>
